body {
    background: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}


#Ilyas {
    font-size: 13px;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    color: 	#6D7F97;
    font-weight: 500;
}

#Ilyas h2 {
    color: #48556A;
    font-weight: 700;
}

#Ilyas p {
    line-height: 20px;
    padding-bottom: 10px;
}

#Adema {
    background: white;
    display: grid;
    grid-gap: 20px;
    width: 680px;
    border-radius: 10px;
    box-shadow: 10px;
    grid-template-columns: 40% 400px;
}

#Adema1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url(images/drawers.jpg);
    height: 100%;
    background-size: cover;
}


#aty p {
    margin: 0px;
}


#apai {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px 225px 50px;

}

#aty h4{
    color: #48556A;
    font-weight: 700;
    margin: 0px;
    padding-top: 0px;
}


#ava img {
    border-radius: 100%;
    width: 40px;
}


#share{
    position: absolute;
    top: -1px;
    left: 8px;
}

.txt p {
    padding: 3px;
    margin-top: 15px;
    margin-left: 20px;
}


.txt {
    display: flex;
}

.txt img {
    padding: 2px;
    margin-top: 5px;
    margin-left: 2px;
}


#icon {
    position: relative;
    display: inline-block;
    background: #ECF2F8;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}


#icon img {
    transform: translateX(8px);
    transform: translateY(8px);
}
  
#icon .txt {
    visibility: hidden;
    width: 220px;
    background: #48556A;
    color:#9EAFC2;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    padding: -10px;
    bottom: 170%;
    left: -20%;
    margin-left: -90px;
    letter-spacing: 5px;
}
  
#icon .txt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  #48556A transparent transparent transparent;
}
  
#icon .skilka{
    visibility: visible;
    
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}